.zy-header-container {
  width: 100%;
  max-width: 100%;
  height: 64px;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  justify-content: center;
}
.zy-header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zy-app-title {
  padding: 0 15px;
  font-size: 18px;
  font-weight: bold;
}